.section {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.inner {
	max-width: 1000px;
	padding: 50px 0;
	width: 95%;
	display: flex;
	flex-direction: column;
	gap: 60px;
}
.inner h1 {
	font-family: var(--sec-font);
	font-size: 2.5rem;
	font-weight: 700;
}
.inner h2 {
	font-family: var(--sec-font);
	font-size: 2rem;
	font-weight: 700;
}
.detail_container,
.product_container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.detail_grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}
.detail_inputarea {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.detail_inputarea label {
	font-size: 1.3rem;
	font-weight: 700;
}
.detail_inputarea input {
	font-size: 1.25rem;
	padding: 10px;
	border: 1px solid rgb(159, 159, 159);
	border-radius: 10px;
}
.noproducts {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90px;
	font-weight: 600;
	font-size: 1.2rem;
	border: 1px solid grey;
	border-radius: 25px;
}
.product_table {
	width: 100%;
	text-align: left;
	border-spacing: 0;
	border-radius: 20px;
	font-size: 1.2rem;
	position: relative;
	border: 1px solid grey;
}
.product_table > tbody > tr:first-child {
	background-color: rgb(237, 237, 237);
}
.product_table > tbody > tr > th {
	border-bottom: 1px solid grey;
}
.product_table th,
.product_table td {
	height: 90px;
}
.product_table > tbody tr:first-child th:first-child {
	border-top-left-radius: 20px;
}
.product_table > tbody tr:first-child th:last-child {
	border-top-right-radius: 20px;
}
.product_table > tbody tr:last-child td:first-child {
	border-bottom-left-radius: 20px;
}
.product_table > tbody tr:last-child td:last-child {
	border-bottom-right-radius: 20px;
}
.product_table > tbody > tr > td:first-child {
	background-color: white;
	font-size: 2rem;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.product_table > tbody > tr > td:first-child img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.product_table > tbody > tr:last-child > td:first-child img {
	border-radius: 0 0 0 20px;
}
.product_table > tbody > tr > td:nth-child(2) {
	font-size: 1.4rem;
	font-weight: 700;
}
.product_table > tbody > tr > td:nth-child(2),
.product_table > tbody > tr > th:nth-child(2) {
	width: 50%;
}
@media only screen and (max-width: 800px) {
	.detail_grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
	}
	.product_table > tbody > tr > td:nth-child(1),
	.product_table > tbody > tr > th:nth-child(1) {
		display: none;
	}
	.product_table > tbody > tr > td:nth-child(2),
	.product_table > tbody > tr > th:nth-child(2) {
		width: auto;
	}
	.product_table {
		font-size: 1rem;
	}
	.product_table > tbody tr:first-child th:nth-child(2) {
		border-top-left-radius: 20px;
	}
	.product_table > tbody > tr > td:nth-child(2) {
		font-size: 1.1rem;
		font-weight: 700;
	}
	.product_table th,
	.product_table td {
		height: 70px;
      padding: 10px;
	}
}
